#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.btn-primary {
  border-radius: 10px;
  --bs-btn-bg: var(--bd-dark-bg);
  --bs-btn-font-weight: 600;
}

h1 {
  color: rgb(230, 220, 220);
  position: sticky;
  margin-bottom: 150px !important;
  font-size: xx-large;
}

.head2 {
  color: rgb(230, 220, 220);
}
